/* Globals */

@font-face {
    font-family: "Avenir Next";
    src:url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
    font-family: "Avenir Next";
    src:url("../fonts/AvenirNext-Medium.ttf");
}

body, .wrapper {
  overflow-x: hidden;
}

* {
  font-family: "Avenir Next", sans-serif;
}

.container-fluid {
  overflow-x: hidden;
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 1200px) {
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}



.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn.btn-primary {
  background: #FFC961;
  border-radius: 5px;
  color: black;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-secondary, .btn.btn-secondary:hover, .btn.btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled):active {
  background: #EEEEEE;
  color: black;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

input.form-control, input.form-control:focus {
  background: #EEEEEE;
  border-radius: 5px;
  border: none;
  height: calc(1.5em + .75rem + 8px);
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
}

/* Navbar */

.navbar {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Avenir Next", sans-serif !important;
}

.navbar.navbar-light .nav-link {
  font-weight: 500;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.navbar-light .navbar-toggler {
  border: none;
  color: black;
}

.navbar-light .navbar-toggler .navbar-toggler-icon{
  color: black;
}

@media screen and (max-width: 1200px) {
  .navbar-brand img {
    height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    height: 35px;
  }

  .navbar.navbar-light .nav-link {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #F3F3F3;
    padding-left: 20px;
  }


}

/* Header */

.header {
  margin-top: 80px;
  height: 600px;
}


.header-content {
  width: 58%;
  margin-right: 1%;
  display: inline-block;
  float: left;
  margin-top: 50px;
}

.header-image {
  width: 40%;
  display: inline-block;
  float: right;
}

.header-image img {
  width: 100%;
}

.header .title {
  font-weight: 600;
}

.header .subtitle {
  font-size: 1.6rem;
  width: 85%;
  line-height: 123.8%;
}

.cta {
  width: 65%;
}

.cta input {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section {
  height: 600px;
  position: relative;
  background-image: linear-gradient(#FFFAEB, #FFFAEB);
}

.section-2 {
  height: 700px;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .section-2 {
    height: 600px;
  }

  .section {
    height: 500px;
  }

  .header {
    height: 400px;
  }

  .header .title {
    font-size: 2.2rem;
  }

  .header .subtitle {
    font-size: 1.3rem;
    width: 85%;
    line-height: 123.8%;
  }

  .cta .btn.btn-primary {
    font-size: 0.8rem;
  }

  .cta input {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 950px) {
  .section-2 {
    height: 400px;
    text-align: left;
  }

  .section {
    height: 300px;
    text-align: left;
  }

  .header {
    margin-top: 30px;
  }

  .header-image {
    display: none;
  }

  .header-content {
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .section-2 {
    height: 100%;
    text-align: left;
  }

  .section {
    height: 100%;
    text-align: left;
  }

  .header-image {
    display: none;
  }

  .header-content {
    width: 100%;
  }

  .header .title {
    font-size: 2rem;
  }

  .header .subtitle {
    font-size: 1rem;
    width: 100%;
  }

  .cta {
    width: 100%;
  }
}

.section-mask {
  width:110%;
  top:-5%;
  left:-5%;
  margin-bottom: -50px;
  transform:rotate(-5deg);
  height: 130px;
  background-image: linear-gradient(#FFFAEB, #FFFAEB);
}

@media screen and (min-width: 1400px) {
  .section-mask {
    margin-bottom: -55px;
  }
}

@media screen and (min-width: 1600px) {
  .section-mask {
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 1800px) {
  .section-mask {
    margin-bottom: -90px;
    height: 300px;
  }
}

/* Footer */

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-right, .footer-left, .footer-logo, .copyright {
  display: inline-block;
}

.footer-right {
  float: right;
}

.footer-left {
  float: left;
  font-size: 1.4rem;
}

.footer-left i {
  color: black;
  margin-right: 10px;
}

.footer-logo img {
  margin-top: -5px;
  margin-right: 5px;
} 

@media screen and (max-width: 570px) {
  .footer {
    text-align: center;
    padding-bottom: 35px;
  }

  .footer-left {
    display: block;
    text-align: center;
    clear: both;
    float: none;
  }

  .footer-right{
    display: block;
    text-align: center;
    clear: both;
    float: none;
  }

  .footer-left i {
    text-align: center;
  }

  .footer-logo img {
    text-align: center;
  } 
}


/* Sections */
.section h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.section .subtitle {
  font-size: 1.48rem;
}

.section-content {
  margin-top: 150px;
  display: inline-block;
  float: right;
  width: 400px;
  margin-left: 3%;  
}

.section-image {
  margin-top: 50px;
  width: 630px;
  float: left;
  display: inline-block;
}

.section-image img {
  width: 100%;
}

@media screen and (max-width: 1270px) {
  .section-image {
    width: 500px;
  }
}

@media screen and (max-width: 1050px) {
  .section-image {
    width: 400px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 950px) {
  .section-image {
    display: none;
  }

  .section-content {
    margin-top: 60px;
    float: none;
    width: 100%;
    margin-left: 0px;
  }


  .section h2 {
    font-size: 2.2rem;
  }

  .section .subtitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 570px) {
  .section-content {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .section h2 {
    font-size: 2rem;
  }

}




.section-2 h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.section-2 .subtitle {
  font-size: 1.48rem;
}

.section-2-content {
  margin-top: 200px;
  display: inline-block;
  float: left;
  width: 400px;
}

.section-2-image {
  margin-top: 50px;
  width: 630px;
  float: right;
  margin-left: 3%;  
  display: inline-block;
}

.section-2-image img {
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .section-2-image {
    width: 400px;
  }
}

@media screen and (max-width: 1050px) {
  .section-2-image {
    width: 400px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 950px) {
  .section-2-image {
    display: none
  }

  .section-2-content {
    margin-top: 150px;
    float: none;
    width: 100%;
  }

  .section-2 h2 {
    font-size: 2.2rem;
  }

  .section-2 .subtitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 570px) {
  .section-2-content {
    margin-top: 50px;
    margin-bottom: 20px;
    float: none;
    width: 100%;
  }

  .section-2 h2 {
    font-size: 2rem;
  }
}


/* Page Headers */
.page-header {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 100px;
  background: #FFFAEB;
}

.page-header .title {
  margin-top: 25px;
  font-size: 2.5rem;
  font-weight: 600;
}

.page-header .subtitle {
  font-size: 1.65rem;
  width: 50%;
  text-align: center;
  transform: translate(50%, 0%);
  line-height: 2rem;
}

.page-content {
  padding-top: 50px;
  padding-bottom: 25px;
}


@media screen and (max-width: 570px) {
  .page-header .page-image {
    display: none;
  }

  .page-header .title {
    font-size: 2.2rem;
  }

  .page-header .subtitle {
    width: 90%;
    transform: translate(5%, 0%);
    font-size: 1.4rem;
  }
}


/* Team Page */
.organizers, .advisors {
  margin-top: 10px;
  margin-bottom: 100px;
}

.organizers h2, .advisors h2, .board h2 {
  font-weight: 600;
}

.organizers .description, .advisors .description, .board .description {
  margin-bottom: 25px;
}

.search-container {
  position: relative;
}

.results-container {
  margin-top: 50px;
}

.results-container .card {
  margin-bottom: 25px;
}



/* Network Page */
.fas.fa-search {
  position: absolute;
  top: 14px;
  left: 15px;
  color: grey;
}

.form-control.search, .form-control.search:focus  {
  padding-left: 40px;
}

.badge {
  padding: 0.3rem 0.5rem;
}

.badge:hover {
  cursor: pointer;
}

.network-card, .event-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 370px;
  margin-bottom: 30px;
}

.network-card .card-body, .network-card .card-footer {
  text-align: center;
  border: none;
}

.network-card .card-body img {
  margin-bottom: 15px;
  height: 100px;
}

.network-card .card-footer, .event-card .card-footer {
  background: #FFFAEB;
}

.network-card .card-footer a {
  color: black;
  font-weight: bold;
}

.network-card .card-title.name {
  font-weight: 600;
  margin-bottom: 5px;
}

.network-card .card-text.grad {
  font-style: italic;
  font-size: 0.9rem;
}

/* News Page */
.news-card {
  padding: 30px 50px;
  border: none;
  background: #FFFAEB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.news-card .news-title {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.news-author, .news-date {
  display: inline-block;
  margin-top: 5px;
}

.results-container a {
  text-decoration: none;
  color: black;
}

.news-author {
  float: left;
}

.news-date {
  float: right;
}

.buttons-container {
  margin-top: 25px;
  margin-bottom: 100px;
}

.paginationjs-page.J-paginationjs-page, .paginationjs-next.J-paginationjs-next, .paginationjs-prev, .paginationjs-page.J-paginationjs-page.active, .paginationjs-next.disabled {
  padding: 5px 20px;
  border: 1px solid black !important;
  border-radius: 0px !important;
  margin-right: 10px;
}

.paginationjs-page {
  font-size: 1rem !important;  
}

.paginationjs-page a {
  background: none !important;
  color: black !important;
}

.paginationjs .paginationjs-pages li.active {
  border: 1px solid black !important;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  font-style: italic;
}

/* Events page */

.event-card .card-body, .event-card .card-footer {
  text-align: center;
  border: none;
}

.event-card .card-body {
  padding: 50px 15px 15px 15px; 
}


.event-card .card-title {
  font-weight: 600;
}

.event-card {
  text-align: center;
  min-height: 415px;
}

.event-card .date, .event-card .location {
  margin-bottom: 0px;
  font-size: 1rem;
}

.event-card .date {
  margin-top: 20px;
}

.event-card .card-footer {
  margin-top: 15px;
}

.big-date {
  height: 100px;
  width: 100px;
  border: 1px solid gray;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

.big-date .month {
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: -5px;
  padding-bottom: 0px;

}

.big-date .day {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 2.2rem;
  font-weight: 600;
}

.results-container h2 {
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 2.2rem;
}

.event-content {
  padding-top: 0px;
  margin-bottom: 50px;
}